apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: feature-flag-filter
  namespace: istio-system
spec:
  workloadSelector:
    labels:
      istio: ingressgateway
  configPatches:
    - applyTo: HTTP_ROUTE
      match:
        context: GATEWAY
        routeConfiguration:
          vhost:
            name: "*:80"
      patch:
        operation: INSERT_BEFORE
        value:
          match:
            prefix: "/"
            headers:
            - name: "x-feature-enabled"
              exact_match: "true"
          route:
            cluster: "outbound|80|v2|booking-service.default.svc.cluster.local"
