apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: booking-gateway
spec:
  selector:
    istio: ingressgateway # use istio default ingress gateway
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - "*"
---
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: booking-service-virtual-service
spec:
  hosts:
    - "*"
  gateways:
    - booking-gateway
  http:
    - route:
        - destination:
            host: booking-service.default.svc.cluster.local
            subset: v1
          weight: 90
        - destination:
            host: booking-service.default.svc.cluster.local
            subset: v2
          weight: 10
      retries:
        attempts: 3
        perTryTimeout: 2s
        retryOn: 5xx,gateway-error,connect-failure,refused-stream
